body,
html {
  width: 100%;
  height: 100%;
  background-color: rgb(249, 250, 253);
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
}
body * {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
