.rdrDateInput {
  position: relative;

  input {
    outline: none;
  }

  .rdrWarning {
    position: absolute;
    font-size: 1.6em;
    line-height: 1.6em;
    top: 0;
    color: #FF0000;
  }
}

[dir="ltr"] .rdrDateInput {
  .rdrWarning {
    right: .25em;
  }
}

[dir="rtl"] .rdrDateInput {
  .rdrWarning {
    left: .25em;
  }
}